<div id="confirmSignup" class="formContainer">

    <p class="actionDesc">
        Please enter your email address, the temporary password that you received in the email,
        and a permanent password (twice). Then click Confirm.
    <form name="confirm" action="#">
        <table class="login">
        <tr><th><label for="EMAIL">Email address:</label></th>
            <td><input name="EMAIL" type="email" size=40 maxlength=128 autofocus ng-model="$ctrl.email"></input></td>
                </tr>
        <tr><th><label for="TEMPORARY_PASSWORD">Temporary Password:</label></th>
            <td><input name="TEMPORARY_PASSWORD" type="password" ng-model="$ctrl.temporaryPassword"></input></td>
                </tr>
        <tr><th><label for="PASSWORD">Permanent Password:</label></th>
            <td><input name="PASSWORD" type="password" ng-model="$ctrl.finalPassword" ng-change="$ctrl.checkPasswords()"></input></td>
                </tr>
        <tr><th><label for="CONFIRM_PASSWORD">Confirm Permanent Password:</label></th>
            <td><input name="CONFIRM_PASSWORD" type="password" ng-model="$ctrl.confirmationPassword" ng-change="$ctrl.checkPasswords()"></input>
                <div class="errorMessage" ng-show="$ctrl.passwordsDontMatch">Passwords don't match!</div>
                </td></tr>
        <tr><td>&nbsp;</td>
            <td> <button type="button" class="preferredButton" ng-click="$ctrl.submit()" ng-disabled="! $ctrl.canSubmit()">
                 Confirm Signup
                 </button></td>
                 </tr>
        </table>
    </form>
</div>
