<div id="main">

    <div class="formContainer">
        <button type="button" class="secondaryButton" ng-click="$ctrl.refresh()">Refresh</button>
        <button type="button" class="preferredButton" ng-click="$ctrl.upload()">Upload</button>
    </div>

    <div class="listContainer">
        <table class="photoList">
        <tr ng-repeat="file in $ctrl.fileList">
            <td> <img src="images/{{file.fileName}}" height="200" width="300" /> </td>
            <td> <p> {{file.fileName}}
                 <p> {{file.description}}
                 <p> {{file.fileSize}} bytes
                 </td>
            </tr>
        </table>
    </div>

</div>
